.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-areas:
    "header header header header intro"
    "nav nav nav nav intro"
   "main-section main-section main-section bestseller"
   "footer footer footer footer footer";
}
#cuisines{
    grid-area:cuisines
}